<mat-tab-group [backgroundColor]="background" [color]="background" dynamicHeight mat-stretch-tabs mat-align-tabs="center">
  <mat-tab label="Standard">
    <div class="container-flex">
      <div class="large-box item-standard mat-elevation-z4">
        Standard
      </div>
      <div class="large-box item-standard mat-elevation-z4">
        Standard
      </div>
      <div class="large-box item-standard mat-elevation-z4">
        Standard
      </div>
    </div>

  </mat-tab>
  <mat-tab label="Standard Plus">
    <div class="container-flex">
      <div class="large-box item-standard-plus mat-elevation-z4">
        Standard Plus
      </div>
      <div class="large-box item-standard-plus mat-elevation-z4">
        Standard Plus
      </div>
      <div class="large-box item-standard-plus mat-elevation-z4">
        Standard Plus
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Gold">
    <div class="container-flex">
      <div class="large-box item-gold mat-elevation-z4">
        Gold
      </div>
      <div class="large-box item-gold mat-elevation-z4">
        Gold
      </div>
      <div class="large-box item-gold mat-elevation-z4">
        Gold
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
