<app-menu></app-menu>
<div class="tabela-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;"><h1>Clientes Cadastrados</h1></mat-card-title>
<mat-form-field class="mat-elevation-z3">
  <mat-label>Filtro</mat-label>
  <input matInput placeholder="filtre por qualquer campo" (keyup)="filtrar(inputFiltro.value)" #inputFiltro>
</mat-form-field>

<mat-table class="mat-elevation-z3" [dataSource]="dataSource">
  <mat-header-row *matHeaderRowDef="mostrarColunas"></mat-header-row>
  <mat-row *matRowDef="let row; columns: mostrarColunas;"></mat-row>

  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.nome}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="endereco">
    <mat-header-cell *matHeaderCellDef>Endereço</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.endereco}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="cachorro">
    <mat-header-cell *matHeaderCellDef>Cachorro</mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.cachorro}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="opcoes">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let item">
      <button mat-icon-button>
        <mat-icon (click)="apagarCliente(item)">delete</mat-icon>
      </button></mat-cell>
  </ng-container>

</mat-table>
    </mat-card>
</div>
