.tabela-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 90vh;
  height: fit-content;
  display: block;
  background-color: var(--blue-light);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

mat-card {
  background-color: var(--blue-dark);
  width: 30vw;
  min-width: fit-content;
  margin: 15vh auto;
  border-radius: 8px;
}

.material-icons.md-34 {
  font-size: 40px;
}

mat-toolbar {
  background-color: var(--blue-dark);
  //width: 30px;
  //min-width: fit-content;
  margin: 3vh auto;
  //border-radius: 8px;
}
