<app-menu></app-menu>
<div class="tabela-page">
  <mat-card class="mat-elevation-z12">
    <mat-toolbar >
      <mat-toolbar-row>
        <span>Meu perfil</span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-card-header>
      <div mat-card-avatar class="material-icons md-34">account_circle</div>
      <mat-card-title>Nome</mat-card-title>
    </mat-card-header>
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Compartilhar</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card>



</div>

