<div [className]="'card-row'">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Standard</mat-card-title>
      <mat-card-subtitle>Free</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/price-img/plano-standard-edit.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">ADQUIRIR</button>
      <button mat-stroked-button>DETALHES</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Standard Plus</mat-card-title>
      <mat-card-subtitle>Assinatura</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/price-img/plano-standard-plus-edit.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">ADQUIRIR</button>
      <button mat-stroked-button>DETALHES</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Gold</mat-card-title>
      <mat-card-subtitle>Assinatura</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="./assets/price-img/plano-gold-edit.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">ADQUIRIR</button>
      <button mat-stroked-button>DETALHES</button>
    </mat-card-actions>
  </mat-card>
</div>
