<div id="planos" [className]="'card-row'">
  <mat-card class="planos-card mat-elevation-z6">
    <mat-card-header>
      <div style="background-image: url('../../../assets/planos-img/medal-bronze.png')" mat-card-avatar class="planos-card-header-image"></div>
      <mat-card-title>Standard</mat-card-title>
      <mat-card-subtitle>Free</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/planos-img/plano-standard-edit.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Plano padrão para qualquer usuário.
      </p>
      <p>
        Pagamento feito ao final de cada passeio.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">ADQUIRIR</button>
      <!--<button mat-stroked-button>DETALHES</button>-->
    </mat-card-actions>
  </mat-card>

  <mat-card class="planos-card">
    <mat-card-header>
      <div style="background-image: url('../../../assets/planos-img/medal-silver.png')" mat-card-avatar class="planos-card-header-image"></div>
      <mat-card-title>Standard Plus</mat-card-title>
      <mat-card-subtitle>Assinatura</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/planos-img/plano-standard-plus-edit.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Direito a 1 passeio por dia.
      </p>
      <p>
        Renova a cada 30 dias.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">ADQUIRIR</button>
      <!--<button mat-stroked-button>DETALHES</button>-->
    </mat-card-actions>
  </mat-card>

  <mat-card class="planos-card">
    <mat-card-header>
      <div style="background-image: url('../../../assets/planos-img/medal-gold.png')" mat-card-avatar class="planos-card-header-image"></div>
      <mat-card-title>Gold</mat-card-title>
      <mat-card-subtitle>Assinatura</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/planos-img/plano-gold-edit.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Direito a 2 passeios por dia.
      </p>
      <p>
        Renova a cada 30 dias.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">ADQUIRIR</button>
      <!--<button mat-stroked-button>DETALHES</button>-->
    </mat-card-actions>
  </mat-card>
</div>
