<footer  class="footer-content text-white text-center text-lg-start">
  <!-- Grid container -->
  <div id="footer" class=" container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Serviços</h5>
        <p>
          DogWalkers é uma aplicação que se baseia na necessidade de donos de pet em levar os seus pets para passear e
          da oportunidade que pessoas com tempo livre e que amem cachorros podem ter de ganhar dinheiro fácil e rápido.
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Social</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="" class="text-white">Instagram</a>
          </li>
          <li>
            <a href="" class="text-white">Facebook</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Ferramentas</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="" class="text-white">Github</a>
          </li>
          <li>
            <a href="" class="text-white">Angular Material</a>
          </li>
          <li>
            <a href="" class="text-white">Material Design for Bootstrap 5 & Angular 12</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="copyright text-center p-3">
    © 2021 Copyright:
    <a class="text-white" href="">DogWalkers</a>
  </div>
  <!-- Copyright -->
</footer>
