.menu-init {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.direction-right {
  float: right;
}

.background-menu {
  height: 10vh;
  min-height: 40px;
  overflow: hidden;
  background-color: #5c6bc0;
}

.logo-menu-position {
  width: 12vh;
  min-width: 60px;
  margin-top: -5vh;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 100%;
  margin-right: auto;
  margin-left: auto;
}

.menu-init .logo-menu-position img {
  border-radius: 100%;
  width: 100%;
}
