.centralizar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--blue-light);
  width: 100%;
  padding: 2rem;
}

.example-container mat-card {
  background-color: var(--blue-dark);
  width: 30vw;
  min-width: fit-content;
  margin: 10% auto;
  border-radius: 8px;
}

mat-card-title {
  text-align: center;
}

mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin-bottom: 1rem;
}

mat-card-content {
  margin-top: 1rem;
}

.meiota {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comment {
  background-color: var(--blue-dark);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.background-comment {
  background-color: var(--blue-light);
  width: 30%;
  margin: 2rem;
}
