<app-menu></app-menu>
<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-card-title style="text-align:center;">Cadastro</mat-card-title>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Prestador de Serviço">
        <mat-card-content>
          <form action="" [formGroup]="validationsPrest">
            <h3>Pessoal</h3>
            <mat-divider></mat-divider>
            <mat-form-field>
              <input
                #nomePrest
                matInput
                placeholder="Nome"
                formControlName="nome"
              >
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error
                *ngIf="validationsPrest.controls.nome.hasError('required')">
                Nome é necessário
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #cpfPrest
                matInput
                placeholder="CPF"
                formControlName="cpf"
              >
              <mat-icon matSuffix>assignment_ind</mat-icon>
              <mat-error
                *ngIf="validationsPrest.controls.cpf.hasError('required')">
                CPF é necessário
              </mat-error>
              <mat-error *ngIf="validationsPrest.controls.cpf.hasError('minlength')">
                Tamanho de CPF inválido
              </mat-error>
            </mat-form-field>

            <mat-form-field >
              <mat-label>Data de Nascimento</mat-label>
              <input
                #dataNascPrest
                matInput
                [matDatepicker]="picker1"
                formControlName="dataNasc"
              >
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="validationsPrest.controls.dataNasc.hasError('required')">
                Data de nascimento é necessário
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                #horarioPrest
                matInput
                placeholder="Horário disponibilidade"
                formControlName="horario"
              >
              <mat-icon matSuffix>schedule</mat-icon>
              <mat-error
                *ngIf="validationsPrest.controls.horario.hasError('required')">
                Horário é necessário
              </mat-error>
              <mat-error *ngIf="validationsPrest.controls.horario.hasError('pattern')">
                Siga o padrão HH:mm
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #telefonePrest
                matInput
                placeholder="Telefone"
                formControlName="telefone"
              >
              <mat-error *ngIf="validationsPrest.controls.telefone.hasError('required')">
                Telefone é necessário
              </mat-error>
              <mat-error *ngIf="validationsPrest.controls.telefone.hasError('pattern')">
                Telefone inválido siga o padrão (dd) xxxxx-xxxx
              </mat-error>
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <div class="top-endereço">
              <h3>Endereço</h3>
              <mat-divider></mat-divider>
            </div>
            <br>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Cadastrar Endereço
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-form-field>
                <input
                  #ruaPrest
                  matInput
                  placeholder="Rua"
                  formControlName="rua"
                >
                <mat-icon matSuffix>home</mat-icon>
                <mat-error *ngIf="validationsPrest.controls.rua.hasError('required')">
                  Rua é necessário
                </mat-error>
              </mat-form-field>
              <div class="container">
                <mat-form-field>
                  <input
                    #bairroPrest
                    matInput
                    placeholder="Bairro"
                    formControlName="bairro"
                  >
                  <mat-error *ngIf="validationsPrest.controls.bairro.hasError('required')">
                    Bairro é necessário
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input
                    #numeroPrest
                    matInput
                    type="number"
                    placeholder="Numero"
                    formControlName="numero"
                  >
                  <mat-error *ngIf="validationsPrest.controls.numero.hasError('required')">
                    Numero é necessário
                  </mat-error>

                </mat-form-field>
              </div>

              <mat-form-field>
                <input
                  #cepPrest
                  matInput
                  placeholder="CEP"
                  formControlName="cep"
                >
                <mat-error *ngIf="validationsPrest.controls.cep.hasError('required')">
                  CEP é necessário
                </mat-error>
                <mat-error *ngIf="validationsPrest.controls.cep.hasError('pattern')">
                  CEP inválido
                </mat-error>
              </mat-form-field>
            </mat-expansion-panel>
            <div class="top-conta">
              <h3>Conta</h3>
              <mat-divider></mat-divider>
            </div>
            <mat-form-field>
              <input
                #emailPrest
                matInput
                placeholder="Email"
                formControlName="email"
              >
              <mat-error *ngIf="validationsPrest.controls.email.hasError('required')">
                Email é necessário
              </mat-error>
              <mat-error *ngIf="validationsPrest.controls.email.hasError('email')">
                Email inválido
              </mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                #senhaPrest
                matInput
                placeholder="Senha"
                type="password"
                [type]="hide1 ? 'password' : 'text'"
                formControlName="senha"
              >
              <mat-error *ngIf="validationsPrest.controls.senha.hasError('required')">
                Senha é necessário
              </mat-error>
              <mat-error *ngIf="validationsPrest.controls.senha.hasError('minlength')">
                Tamanho de senha minima é 6 caracteres
              </mat-error>
              <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
<!--            <mat-form-field>-->
<!--              <input-->
<!--                #testeSenha-->
<!--                matInput-->
<!--                placeholder="Repita a senha"-->
<!--                type="password"-->
<!--                [type]="hide2 ? 'password' : 'text'"-->
<!--                formControlName="senha2"-->
<!--              >-->
<!--              <mat-error *ngIf="validations.controls.senha.hasError('required')">-->
<!--                Reinserir é necessário-->
<!--              </mat-error>-->
<!--              <mat-error *ngIf="validations.controls.senha.hasError('minlength')">-->
<!--                Tamanho de senha minima é 6 caracteres-->
<!--              </mat-error>-->
<!--              <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">-->
<!--                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--              </button>-->
<!--            </mat-form-field>-->
            <button
              mat-raised-button
              color="accent"
              class="login-button"
              (click)="inserirPrestador(nomePrest, cpfPrest, dataNascPrest, telefonePrest, ruaPrest,
              bairroPrest, numeroPrest, cepPrest, emailPrest, senhaPrest, horarioPrest)"
              [disabled]="validationsPrest.invalid"
            >
              <mat-icon>add</mat-icon>
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
      <mat-tab label="Dono de Pet">
        <mat-card-content>
          <form action="" [formGroup]="validationsCli">
            <h3>Pessoal</h3>
            <mat-divider></mat-divider>
            <mat-form-field>
              <input
                #nomeCli
                matInput
                placeholder="Nome"
                formControlName="nome"
              >
              <mat-icon matSuffix>perm_identity</mat-icon>
              <mat-error
                *ngIf="validationsCli.controls.nome.hasError('required')">
                Nome é necessário
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input
                #cpfCli
                matInput
                placeholder="CPF"
                formControlName="cpf"
              >
              <mat-icon matSuffix>assignment_ind</mat-icon>
              <mat-error
                *ngIf="validationsCli.controls.cpf.hasError('required')">
                CPF é necessário
              </mat-error>
              <mat-error *ngIf="validationsCli.controls.cpf.hasError('minlength')">
                Tamanho de CPF inválido
              </mat-error>
            </mat-form-field>

            <mat-form-field >
              <mat-label>Data de Nascimento</mat-label>
              <input
                #dataNascCli
                matInput
                [matDatepicker]="picker2"
                formControlName="dataNasc"
              >
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <mat-error *ngIf="validationsCli.controls.dataNasc.hasError('required')">
                Data de nascimento é necessário
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <input
                #telefoneCli
                matInput
                placeholder="Telefone"
                formControlName="telefone"
              >
              <mat-error *ngIf="validationsCli.controls.telefone.hasError('required')">
                Telefone é necessário
              </mat-error>
              <mat-error *ngIf="validationsCli.controls.telefone.hasError('pattern')">
                Telefone inválido siga o padrão (dd) xxxxx-xxxx
              </mat-error>
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
            <div class="top-endereço">
              <h3>Endereço</h3>
              <mat-divider></mat-divider>
            </div>
            <br>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Cadastrar Endereço
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-form-field>
                <input
                  #ruaCli
                  matInput
                  placeholder="Rua"
                  formControlName="rua"
                >
                <mat-icon matSuffix>home</mat-icon>
                <mat-error *ngIf="validationsCli.controls.rua.hasError('required')">
                  Rua é necessário
                </mat-error>
              </mat-form-field>
              <div class="container">
                <mat-form-field>
                  <input
                    #bairroCli
                    matInput
                    placeholder="Bairro"
                    formControlName="bairro"
                  >
                  <mat-error *ngIf="validationsCli.controls.bairro.hasError('required')">
                    Bairro é necessário
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input
                    #numeroCli
                    matInput
                    type="number"
                    placeholder="Numero"
                    formControlName="numero"
                  >
                  <mat-error *ngIf="validationsCli.controls.numero.hasError('required')">
                    Numero é necessário
                  </mat-error>

                </mat-form-field>
              </div>

              <mat-form-field>
                <input
                  #cepCli
                  matInput
                  placeholder="CEP"
                  formControlName="cep"
                >
                <mat-error *ngIf="validationsCli.controls.cep.hasError('required')">
                  CEP é necessário
                </mat-error>
                <mat-error *ngIf="validationsCli.controls.cep.hasError('pattern')">
                  CEP inválido
                </mat-error>
              </mat-form-field>
            </mat-expansion-panel>

            <div class="top-pet">
              <h3>PET</h3>
              <mat-divider></mat-divider>
            </div>
            <br>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Cadastrar PET
                </mat-panel-title>
                <mat-panel-description>
                  <mat-icon>pets</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="container">
                <mat-form-field>
                  <input
                    #nomePet
                    matInput
                    placeholder="Nome do PET"
                    name="nomePet">
                </mat-form-field>
                <mat-form-field>
                  <input
                    #racaPet
                    matInput
                    placeholder="Raça"
                    name="raça">
                </mat-form-field>
              </div>
              <div class="container">
                <mat-form-field>
                  <mat-label>Porte</mat-label>
                  <select matNativeControl #portePet>
                    <option value="Pequeno">Pequeno</option>
                    <option value="Médio">Médio</option>
                    <option value="Grande">Grande</option>
                  </select>
                </mat-form-field>
                <mat-form-field>
                  <input
                    #pesoPet
                    matInput
                    type="number"
                    placeholder="Peso"
                    name="peso">
                </mat-form-field>
              </div>
            </mat-expansion-panel>

            <div class="top-conta">
              <h3>Conta</h3>
              <mat-divider></mat-divider>
            </div>

            <mat-form-field>
              <input
                #emailCli
                matInput
                placeholder="Email"
                formControlName="email"
              >
              <mat-error *ngIf="validationsCli.controls.email.hasError('required')">
                Email é necessário
              </mat-error>
              <mat-error *ngIf="validationsCli.controls.email.hasError('email')">
                Email inválido
              </mat-error>
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input
                #senhaCli
                matInput
                placeholder="Senha"
                type="password"
                [type]="hide2 ? 'password' : 'text'"
                formControlName="senha"
              >
              <mat-error *ngIf="validationsCli.controls.senha.hasError('required')">
                Senha é necessário
              </mat-error>
              <mat-error *ngIf="validationsCli.controls.senha.hasError('minlength')">
                Tamanho de senha minima é 6 caracteres
              </mat-error>
              <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
<!--            <mat-form-field>-->
<!--              <input-->
<!--                matInput-->
<!--                placeholder="Repita a senha"-->
<!--                type="password"-->
<!--                required-->
<!--                minlength="6"-->
<!--                name="repassword"-->
<!--                ngModel-->
<!--                #repassword="ngModel"-->
<!--                [type]="hide ? 'password' : 'text'">-->
<!--              <mat-error-->
<!--                *ngIf="repassword.errors && repassword.errors.required">-->
<!--                Reinserir é necessário-->
<!--              </mat-error>-->
<!--              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">-->
<!--                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
<!--              </button>-->
<!--            </mat-form-field>-->
            <button
              mat-raised-button
              color="accent"
              class="login-button"
              (click)="inserirCliente(nomeCli, cpfCli, dataNascCli, telefoneCli, ruaCli, bairroCli,
              numeroCli, cepCli, emailCli, senhaCli, nomePet, racaPet, pesoPet, portePet)"
              [disabled]="validationsCli.invalid"
            >
              <mat-icon>add</mat-icon>
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
