.login-page {
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
  display: block;
  background-color: var(--blue-light);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

mat-card {
  background-color: var(--blue-dark);
  width: 30vw;
  min-width: fit-content;
  margin: 15vh auto;
  border-radius: 8px;
}

mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}

mat-card-content {
  margin-top: 1rem;
}

.login-button {
  margin: 20px auto;
  display: block;
  width: 80%;
}

h3 {
  text-align: center;
  margin-bottom: 0;
}



mat-expansion-panel {
  background-color: var(--blue-light);
  width: 100%;
  display: block;
  margin: auto;
}

.top-conta {
  margin-top: 10px;
}

.top-pet {
  margin-top: 10px;
}

/*.container{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 55%;
 }*/


