<mdb-carousel [className]="'mdb-carousel'" [controls]="false" [indicators]="false" [animation]="'fade'" [dark]="true">
  <mdb-carousel-item>
    <img
      src="./assets/carrossel-images/dog1.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-sm-block">
      <h2>Label 1</h2>
      <p>Detalhes 1</p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <img
      src="./assets/carrossel-images/dog2.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-sm-block">
      <h2>Label 2</h2>
      <p>Detalhes 2</p>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <img
      src="./assets/carrossel-images/dog3.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-sm-block">
      <h2>Label 3</h2>
      <p>Detalhes 3</p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
