<mdb-carousel [className]="'mdb-carousel'" [controls]="false" [indicators]="false" [animation]="'fade'" [dark]="true">
  <mdb-carousel-item>
    <img
      src="../../../assets/carrossel-img/dog1.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-sm-block">
      <div class="carousel-text-content">
        <h2>Dog Walkers</h2>
        <p>Passear é Viver</p>
      </div>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <img
      src="../../../assets/carrossel-img/dog2.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-sm-block">
      <div class="carousel-text-content">
        <h2>Dog Walkers</h2>
        <p>Garantindo Saúde</p>
      </div>
    </div>
  </mdb-carousel-item>

  <mdb-carousel-item>
    <img
      src="../../../assets/carrossel-img/dog3.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-sm-block">
      <div class="carousel-text-content">
        <h2>Dog Walkers</h2>
        <p>Feito para Todos</p>
      </div>
    </div>
  </mdb-carousel-item>
</mdb-carousel>
